.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.left-thumb,
.right-thumb {
    font-size: 50px;
    color: rgb(23, 190, 21);
    opacity: 0;
    animation: popUp 1s ease-in-out forwards;
    position: relative;
    top: 50px;
}

.left-thumb {
    animation-delay: 0.3s;
    transform: scaleX(-1);
    margin-right: 20px;
}

.right-thumb {
    animation-delay: 0.5s;
    margin-left: 20px;
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}